@font-face{
    font-family: 'Migra';
    src: url('../fonts/Migra-Extralight.woff2') format('woff2');
    src: url('../fonts/Migra-Extralight.woff') format('woff');
    font-weight: normal;

}
body{
    background-color: #cbb293;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    margin: 0;
}
h1{
    font-size: 6vw;
    font-family: 'Migra', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.agendar-button button{
    font-family: 'Migra', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: #f7f1e3;
    cursor: pointer;    
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    height: 7vh;
}
.agendar-button button:hover{
    background-color: #f7f1e39d;
    transform: scale(1.05);
    transition: 0.3s;
}
.agendar-button a{
    color: #c48b7a;
    text-decoration: none;
    font-size: 30px;
}
.header-container{
    position: fixed;
    background-color: #f7f4ed;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
.whatsapp{
    position: fixed;
    bottom: 5vh;
    right: 0.1vw;

    width: 8vw;
    height: 8vh;

    display: flex;
    flex-direction: row;
    justify-self: end;
    align-self: flex-end;
}
.logo-img{
    height: 15vh;
    margin-right: 20px;
}
.nav-container{
    background-color: #f7f4ed;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navegacao{
    display: flex;
    justify-content: space-between;
    justify-items: end;
    gap: 50px;
}
.navegacao a{
    text-decoration: none;
    color: #c48b7a;
    font-weight: bold;
    text-transform: uppercase;
}
.navegacao a:hover{
    color: #c48b7a9d;
    transition: 1s;
    transform: scale(1.05);
    text-decoration: underline overline;
}
.navegacao li{
    list-style: none;
}
.home-section{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.home-section h1{
    margin: 0;
    margin-top: 5vh;
}
.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5vw;
}
.profile-container img{
    height: 40vh;
    border-radius: 10%;
    margin-top: 10vh;
    
}
.profile-container p{
    color: #fff;
    font-size: 18px;
}
.desc-container{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro-descr{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    width: 40vw;
    font-size: 18px;
}
.intro-descr p{
    margin: 0;
}
.intro-descr ul{
    padding: 0;
}
.intro-descr li{
    list-style: none;
}
.sobre-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}
.sobre-imagem-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5vw;
}
.sobre-imagem-container img{    
    width: 35vh;
    border-radius: 2vh;
}

.sobre-content{
    color: #fff;
    width: 80vw;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.acolher-img{
    margin-top: 10vh;
    margin-bottom: 20vh;
}
.white-section{
    width: 100%;
    background-color: #f7f1e3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.white-section h1{
    align-self: start;
    margin-left: 10vw;
}
.white-section p, .white-section ul, .white-section summary{
    color: #cbb293;
    font-size: 1.3em;
    font-weight: 500;
    text-wrap: wrap;
}
.avaliacoes-images{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.av1, .av2{
    height: 65%;
    margin-bottom: 5vh;
    box-shadow: 0 0 4px  #00000073;
    border-radius: 10px;
}
.av1{
    align-self: end;
}
.av-images{
    width: 100vw;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-around;
}
.av3{
    height: 65%;
    border-radius: 10px;
    box-shadow: 0 0 4px  #00000073;
}
.certificacao-section{
    display: flex;
    align-items: start;
    justify-content: center;
}
.descricao-certificacao, .certificacao-img{
    width: 40%;
}
.formacao-img{
    height: auto;
    width: 45vw;
    border-radius: 50px;
    margin-top: 2vh;
}

.descricao-titulo{
    display: flex;
    align-items: start;
    justify-content: start;
}
.descricao-certificacao ul, .descricao-certificacao li{
    color: #fff;
    list-style-type: "-------- ";
    font-size: 18px;
    margin-bottom: 5vh;
    margin-right: 1vw;
}
.como-funciona-container{
    width: 70%;
    justify-content: center;
    justify-self: center;
}
.como-funciona-section h1{
    text-decoration: underline 0.03em #cbb293;
    text-underline-offset: 8px;

}
.como-funciona-container summary{
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: solid 0.14rem #cbb293;
}
.details-container{
    width: 30vw;
    margin-bottom: 2em;
}
.como-funciona-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contatos-container{
    margin-left: 5vw;

    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
.contatos-img img{
    display: block;
    height: 80vh;
    width: 40vw;
    object-fit: cover;
    object-position: center;
}
.semi-final-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.final-section{
    display: flex;
    justify-self: center;
    align-items: center;
}