/*
    ROOT e RESET
*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    /* Cores */
    --bg: #cbb293;

    --primary: #c48b7a;

    --secondary: #f7f4ed;

    --text-color: #cbb293;

    --title-color: #9a583c;

    --white: #e0e0d5;

    /* Outras Variaveis */
    --header-height:30px;
}

/*
    IMPORTANDO FONTES
*/

@font-face{
    font-family: 'Migra';
    src: url('../fonts/Migra-Extralight.woff2') format('woff2');
    src: url('../fonts/Migra-Extralight.woff') format('woff');
    font-weight: normal;

}
.playfair-display{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*
    CLASSES UTILITÁRIAS
*/

.flex{
    display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.column{
    flex-direction: column;
}
.spacing{
    margin-top: 10vh;
    margin-bottom: 10vh;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
}
body{
    background-color: var(--bg);
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100%;
}
header{
    padding-top: var(--header-height);
    padding-bottom: var(--header-height);
}
main{
    padding-top: var(--header-height);
    width: 100%;
}
section{
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
h1{
    font-size: 6rem;
    color: var(--title-color);
    font-family: 'Migra', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: center;

}
.agendar-button button{
    font-family: 'Migra', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: #f7f1e3;
    cursor: pointer;    
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    height: 7vh;
}
.agendar-button button:hover{
    background-color: #f7f1e39d;
    transform: scale(1.05);
    transition: 0.3s;
}
.agendar-button a{
    color: var(--primary);
    text-decoration: none;
    font-size: 30px;
}
.header-container{
    position: fixed;
    background-color: var(--secondary);
    width: 100%;
    height: 15vh;
    margin-top: 0;
}
.whatsapp{
    position: fixed;
    bottom: 5vh;
    right: 0.1vw;

    width: 8vw;
    height: 8vh;

    flex-direction: row;
    justify-self: end;
    align-self: flex-end;

    transition: .5s;
}
.whatsapp:hover{
    transform: scale(1.2);
    transition: .5s;
}
.whatsapp img{
    border-radius: 50%;
    box-shadow: 0 0 10px #2ba82b81;
    animation: shadow-animation 4s infinite;
}
@keyframes shadow-animation{
    0%{
        box-shadow: 0 0 10px #2ba82b81;
    }
    50%{
        box-shadow: 0 0 40px #2ba82b;
    }
    100%{
        box-shadow: 0 0 10px #2ba82b81;
    }
}
.logo-img{
    height: 15vh;
    margin-right: 20px;
}
.nav-container{
    background-color: var(--secondary);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-button{
    display: none;
    color: var(--primary);
    font-size: 1.2em;
}
.navegacao{
    display: flex;
    justify-content: space-between;
    justify-items: end;
    gap: 50px;
}
.navegacao a{
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
    text-transform: uppercase;
}
.navegacao a:hover{
    color: #c48b7a9d;
    transition: 0.3s;
    text-decoration: underline overline;
}
.navegacao li{
    list-style: none;
}
.navegacao li:hover{
    transition: 0.3s;
    transform: scale(1.1);
}
.home-section{
    width: 100%;
    flex-direction: row;
}
.home-section h1{
    margin: 0;
    margin-top: 5vh;
}
.profile-container{
    flex-direction: column;
    margin-right: 5vw;
}
.profile-container img{
    height: 40vh;
    border-radius: 10%;
    margin-top: 10vh;
    
}
.profile-container p{
    color: var(--title-color);
    font-size: 1.2em;
}
.desc-container{
    height: 50vh;
    flex-direction: column;
    
}
.intro-descr{
    color: var(--title-color);
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    width: 40%;
    font-size: 1.3em;
}
.intro-descr p{
    margin: 0;
}
.intro-descr ul{
    padding: 0;
}
.intro-descr li{
    list-style: none;
}
.sobre-section{
    flex-direction: column;
    margin-top: 20vh;
}
.sobre-imagem-container{
    flex-direction: column;
    margin-right: 5vw;
}
.sobre-imagem-container img{   
    display: block;
    width: 22vw;
    height: 70vh;
    border-radius: 2vh;
    object-fit: cover;
    object-position: center;
}

.sobre-content{
    color: var(--white);
    width: 80vw;
    font-size: 1.2em;
}
.acolher-img{
    margin-top: 10vh;
    margin-bottom: 20vh;
}
.link{
    color: #f7f1e3;
    text-decoration: none;
}
.white-section{
    width: 100%;
    background-color: var(--secondary);
    flex-direction: column;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.white-section h1{
    align-self: start;
    margin-left: 10vw;
}
.white-section p, .white-section ul, .white-section summary{
    color: var(--text-color);
    font-size: 1.2em;
    font-weight: 500;
    text-wrap: wrap;
}
.avaliacoes-images{
    width: 80%;
    flex-direction: column;
}
.av1, .av2{
    height: 65%;
    margin-bottom: 5vh;
    box-shadow: 0 0 4px  #00000073;
    border-radius: 10px;
}
.av1{
    align-self: end;
}
.av-images{
    width: 100%;
    margin-bottom: 5vh;
    justify-content: space-around;
}
.av3{
    height: 65%;
    border-radius: 10px;
    box-shadow: 0 0 4px  #00000073;
}

.descricao-titulo{
    display: flex;
    align-items: start;
    justify-content: start;
}
.descricao-certificacao ul, .descricao-certificacao li{
    color: var(--white);
    list-style-type: "-------- ";
    font-size: 18px;
    margin-bottom: 5vh;
    margin-right: 1vw;
}
.como-funciona-container{
    width: 70%;
    justify-content: center;
    justify-self: center;
}
.como-funciona-section h1{
    text-decoration: underline 0.03em var(--text-color);
    text-underline-offset: 8px;

}
.como-funciona-container summary{
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: solid 0.14rem var(--text-color);
}
.primera-sessao p, .primera-sessao li{
    color: var(--secondary);
    font-size: 1.2em;
}
.pode-ajudar-container p, .pode-ajudar-container li{
    color: var(--secondary);
    font-size: 1.2em;
}
.details-container{
    width: 30vw;
    margin-bottom: 2em;
}
.como-funciona-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.certificacao-section{
    display: flex;
    align-items: start;
    justify-content: center;
}
.descricao-certificacao, .certificacao-img{
    width: 40%;
}
.formacao-img{
    height: auto;
    width: 45vw;
    border-radius: 50px;
    margin-top: 2vh;
}
.contatos-container{
    margin-left: 5vw;

    flex-direction: column;
}
.contatos-container p, .insta {
    color: var(--secondary);
    font-size: 1.2em;
}
.contatos-img img{
    display: block;
    height: 80vh;
    width: 40vw;
    object-fit: cover;
    object-position: center;
}
.semi-final-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    padding-bottom: 10dvh;
}

.container-esq{
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-esq p{
    text-wrap: nowrap;
    text-decoration: underline;
}
.container-esq img{
    padding-top: 5dvh;
    height: 20dvh;
    width: auto;
    object-position: center;
}
.semi-final-img{
    width: 10%;
    align-self: end;
    padding-right: 5vw;
    padding-top: 8dvh;
}

@media(max-width:1024px){
    .navegacao{
        display: none !important;
    }
    .nav-button{
        display: block !important;
    }
    .home-section, .sobre-content, .certificacao-section, .semi-final-container{
        display: flex;
        flex-direction: column !important;
    }

}