@font-face{
    font-family: 'Migra';
    src: url('../fonts/Migra-Extralight.woff2') format('woff2');
    src: url('../fonts/Migra-Extralight.woff') format('woff');
    font-weight: normal;

}
body{
    background-color: #cbb293;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    margin: 0;
}
li{
    list-style: none;
}
h1{
    font-size: 80px;;
    font-family: 'Migra', Verdana, Geneva, Tahoma, sans-serif;
}
.header-container{
    background-color: #f7f1e3;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
.nav-container{
    background-color: #f7f1e3;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navegacao{
    display: flex;
    justify-content: space-between;
    justify-items: end;
    gap: 50px;
}
.navegacao a{
    text-decoration: none;
    color: #c48b7a;
    font-weight: bold;
    text-transform: uppercase;
}
